[Unit]
Description=okchaind

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash /root/okchain/launch/systemctl/scripts/start_node.sh
ExecStop=/bin/bash /root/okchain/launch/systemctl/scripts/stop_node.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target